.icon-hover-primary:hover {
    border-color: rgb(202, 59, 59) !important;
    background-color: white !important;
  }
  
  .icon-hover-primary:hover i {
    color: rgb(202, 59, 59) !important;
  }
  .icon-hover-danger:hover {
    border-color: #dc4c64 !important;
    background-color: white !important;
  }
  
  .icon-hover-danger:hover i {
    color: #dc4c64 !important;
  }