{% extends 'base.html' %}

{% block content%}
{%load static%}


<link rel="stylesheet" href="{% static 'css/cart.css'%}">


<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a href="/">Home</a> <span class="mx-2 mb-0">/</span> 
        <strong class="text-black">Cart</strong>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12" method="post">
        <div class="site-blocks-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <!-- <th class="product-total">Total</th> -->
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>

              {% for j,i in cl.items %}
              <tr>
                
                <td class="product-thumbnail" style="display: flex;">
                  <a href="single/{{i.id}}"> <img src="{{j.image.url}}" alt="Image" class="img-fluid" style="height: 100px; width: 150px;"></a>
                </td>
                
                <td class="product-name">
                  <h2 class="h5 text-black">{{j.name}}</h2>
                </td>
                <td>${{j.price}}</td>
                <td>
                  <div class="input-group mb-3" style="max-width: 120px;">
                    <div class="input-group-prepend" style="text-align: center;">
                      <a href="minuscart/{{i.1}}" class="btn btn-outline-primary"  style="background-color: red; color: white;">&minus;</a>
                    </div>
                    <input type="text" class="form-control text-center" value="{{i.0}}" placeholder=""
                      aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <div class="input-group-append" style="text-align: center;">
                      <a href="pluscart/{{i.1}}" class="btn btn-outline-primary" style="background-color: red; color: white;">&plus;</a>
                    </div>
                  </div>

                </td>
                <!-- <td>{{i}}</td> -->
                <td><a href="deletecart/{{i.1}}" class="btn btn-primary height-auto btn-sm" style="background-color: red;">X</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-6 mb-3 mb-md-0">
           <a href="allproducts"><button class="btn btn-primary btn-md btn-block" style="background-color: red; color: white;">Continue Shoppimg</button></a> 
          </div>
   
        </div>
      </div>
      <div class="col-md-6 pl-5">
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <span class="text-black">Subtotal</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">{{t}}</strong>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black">Total</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">{{t}}</strong>
              </div>
            </div>
<div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary btn-lg btn-block" onclick="window.location='checkout'" style="background-color: red; color: white;">Proceed To
                  Checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}