{% extends 'base.html' %}

{% block content %}
{% load static %}

 <div class="slideshow-container">

  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="product01.png" style="width:100%">
    <div class="text">Caption Text</div>
  </div>
</div>
  

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row" id="vishnu">
      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="{%static 'img/shop01.png' %}" alt="">
          </div>
          <div class="shop-body">
            <h3>Laptop<br>Collection</h3>
            <a href="laptops" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img" style="display: flex;">
            <img src="{%static 'img/mobile01.jpg' %}" alt="" style="width: 242px;">
          </div>
          <div class="shop-body">
            <h3>Mobile<br>Collection</h3>
            <a href="mobiles" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="{%static 'img/camera01.jpg' %}" alt="" style="width: 252px;">
          </div>
          <div class="shop-body">
            <h3>Cameras<br>Collection</h3>
            <a href="cameras" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->




<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <center>
            <h3 class="title">New Products</h3>
          </center>
        </div>
      </div>
      <!-- /section title -->

      <!-- product1 -->
      <div class="col-lg-3 col-md-6">
        <div class="card px-4 border shadow-0 mb-4 mb-lg-0">

          <a href="{% url 'laptops' %}" class="">
            <img src="{%static 'img/product01.png' %}" class="card-img-top rounded-2" />
          </a>
          <div class="card-body d-flex flex-column pt-3 border-top">
            <b><a href="#" class="nav-link">Acer laptop </a></b>
            <div class="price-wrap mb-2">
              <strong class="" style="color: red;">₹29000.00</strong>
            </div>
            <!-- <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
            </div> -->
          </div>
        </div>
      </div>
      <!-- /product1 -->


      <!-- product2 -->
      <div class="col-lg-3 col-md-6">
        <div class="card px-4 border shadow-0 mb-4 mb-lg-0">

          <a href="{% url 'mobiles' %}" class="">
            <img src="{%static 'img/mobile01.jpg' %}" class="card-img-top rounded-2" />
          </a>
          <div class="card-body d-flex flex-column pt-3 border-top">
            <b> <a href="#" class="nav-link">Samsung galaxy F13</a></b>
            <div class="price-wrap mb-2">
              <strong class="" style="color: red;">₹30000.00</strong>
            </div>
            <!-- <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
            </div> -->
          </div>
        </div>
      </div>
      <!-- /product2 -->

      <!-- product1 -->
      <div class="col-lg-3 col-md-6">
        <div class="card px-4 border shadow-0 mb-4 mb-lg-0">

          <a href="{% url 'laptops' %}" class="">
            <img src="{%static 'img/product03.png' %}" class="card-img-top rounded-2" />
          </a>
          <div class="card-body d-flex flex-column pt-3 border-top">
            <b><a href="#" class="nav-link">Lenovo laptop </a></b>
            <div class="price-wrap mb-2">
              <strong class="" style="color: red;">₹22000.00</strong>
            </div>
            <!-- <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
            </div> -->
          </div>
        </div>
      </div>
      <!-- /product1 -->

      <!-- product1 -->
      <div class="col-lg-3 col-md-6">
        <div class="card px-4 border shadow-0 mb-4 mb-lg-0">
          <a href="{% url 'mobiles' %}" class="">
            <img src="{%static 'img/product04.png' %}" class="card-img-top rounded-2" />
          </a>
          <div class="card-body d-flex flex-column pt-3 border-top">
            <b><a href="#" class="nav-link">Tab </a></b>
            <div class="price-wrap mb-2">
              <strong class="" style="color: red;">₹12000.00</strong>
            </div>
            <!-- <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
            </div> -->
          </div>
        </div>
      </div>
      <!-- /product1 -->





    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->


<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <ul class="hot-deal-countdown">
            <li>
              <div>
                <h3>02</h3>
                <span>Days</span>
              </div>
            </li>
            <li>
              <div>
                <h3>10</h3>
                <span>Hours</span>
              </div>
            </li>
            <li>
              <div>
                <h3>34</h3>
                <span>Mins</span>
              </div>
            </li>
            <li>
              <div>
                <h3>60</h3>
                <span>Secs</span>
              </div>
            </li>
          </ul>
          <h2 class="text-uppercase">hot deal this week</h2>
          <p>New Collection Up to 50% OFF</p>
          <a class="primary-btn cta-btn" href="{% url 'allproducts' %}">Shop now</a>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <center>
            <h3 class="title">Top selling</h3>
          </center>

        </div>
      </div>
      <!-- /section title -->

      <!-- product1 -->
      <div class="col-lg-3 col-md-6">
        <div class="card px-4 border shadow-0 mb-4 mb-lg-0">

          <a href="{% url 'laptops' %}" class="">
            <img src="{%static 'img/product01.png' %}" class="card-img-top rounded-2" />
          </a>
          <div class="card-body d-flex flex-column pt-3 border-top">
            <b><a href="#" class="nav-link">Acer laptop </a></b>
            <div class="price-wrap mb-2">
              <strong class="" style="color: red;">₹29000.00</strong>
            </div>
          </div>
        </div>
      </div>
      <!-- /product1 -->


      <!-- product2 -->
      <div class="col-lg-3 col-md-6">
        <div class="card px-4 border shadow-0 mb-4 mb-lg-0">

          <a href="{% url 'mobiles' %}" class="">
            <img src="{%static 'img/mobile01.jpg' %}" class="card-img-top rounded-2" />
          </a>
          <div class="card-body d-flex flex-column pt-3 border-top">
            <b> <a href="#" class="nav-link">Samsung galaxy F13</a></b>
            <div class="price-wrap mb-2">
              <strong class="" style="color: red;">₹30000.00</strong>
            </div>
          </div>
        </div>
      </div>
      <!-- /product2 -->

      <!-- product1 -->
      <div class="col-lg-3 col-md-6">
        <div class="card px-4 border shadow-0 mb-4 mb-lg-0">

          <a href="{% url 'laptops' %}" class="">
            <img src="{%static 'img/product03.png' %}" class="card-img-top rounded-2" />
          </a>
          <div class="card-body d-flex flex-column pt-3 border-top">
            <b><a href="#" class="nav-link">Lenovo laptop </a></b>
            <div class="price-wrap mb-2">
              <strong class="" style="color: red;">₹22000.00</strong>
            </div>
            <!-- <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
            </div> -->
          </div>
        </div>
      </div>
      <!-- /product1 -->

      <!-- product1 -->
      <div class="col-lg-3 col-md-6">
        <div class="card px-4 border shadow-0 mb-4 mb-lg-0">

          <a href="{% url 'mobiles' %}" class="">
            <img src="{%static 'img/product04.png' %}" class="card-img-top rounded-2" />
          </a>
          <div class="card-body d-flex flex-column pt-3 border-top">
            <b><a href="#" class="nav-link">Tab </a></b>
            <div class="price-wrap mb-2">
              <strong class="" style="color: red;">₹12000.00</strong>
            </div>
            <!-- <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
              <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
            </div> -->
          </div>
        </div>
      </div>
      <!-- /product1 -->


    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <div class="section-title">
          <h4 class="title">Top selling</h4>
          <div class="section-nav">
            <div id="slick-nav-3" class="products-slick-nav"></div>
          </div>
        </div>

        <div class="products-widget-slick" data-nav="#slick-nav-3">
          <div>
            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product07.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">$₹90.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product08.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product09.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- product widget -->
          </div>

          <div>
            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product01.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->


            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product02.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product03.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- product widget -->
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-6">
        <div class="section-title">
          <h4 class="title">Top selling</h4>
          <div class="section-nav">
            <div id="slick-nav-4" class="products-slick-nav"></div>
          </div>
        </div>

        <div class="products-widget-slick" data-nav="#slick-nav-4">
          <div>
            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product04.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product05.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product06.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- product widget -->
          </div>

          <div>
            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product07.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product08.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product09.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- product widget -->
          </div>
        </div>
      </div>

      <div class="clearfix visible-sm visible-xs"></div>

      <div class="col-md-4 col-xs-6">
        <div class="section-title">
          <h4 class="title">Top selling</h4>
          <div class="section-nav">
            <div id="slick-nav-5" class="products-slick-nav"></div>
          </div>
        </div>

        <div class="products-widget-slick" data-nav="#slick-nav-5">
          <div>
            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product01.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product02.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->


            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product03.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- product widget -->
          </div>

          <div>
            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product04.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product05.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- /product widget -->

            <!-- product widget -->
            <div class="product-widget">
              <div class="product-img">
                <img src="{%static 'img/product06.png' %}" alt="">
              </div>
              <div class="product-body">
                <p class="product-category">Category</p>
                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                <h4 class="product-price">₹980.00 <del class="product-old-price">₹990.00</del></h4>
              </div>
            </div>
            <!-- product widget -->
          </div>
        </div>
      </div>

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="newsletter">
          <p>Sign Up for the <strong>NEWSLETTER</strong></p>
          <form>
            <input class="input" type="email" placeholder="Enter Your Email">
            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
          </form>
          <ul class="newsletter-follow">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /NEWSLETTER -->

{% endblock %}