{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="form-container sign-in">
    <form method="post" action="{% url 'forgot' %}">
        {% csrf_token %}
        <h1>RESET</h1>
        <input type="text" placeholder="Enter Email" name="email">
        <input type="submit" value="SEND"></input>
        {% for i in messages %}
        <div class="alert alert-warning alert-dismissable fade show">
            <strong>ERROR!</strong>{{i}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
        {% endfor %}
    </form>
</div>

{% endblock %}