/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  } */
  
  /* header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: right;
  } */
  
  /* #account-options button {
    margin-left: 1030px;
    color: white;
  }
  
  nav {
    width: 200px;
    height: 100vh;
    background-color: #eee;
    position: fixed;
    margin-left: 1000px;
    padding-top: 50px;
  } */